
# gpx data files and folder
data/
*\.gpx

# object files and other intermediates, other output
*\.output
*\.o
*\.exe
*\.x

# folder for test stuff
test/

# folder for samples and examples stuff
samples/

# folder for reference material
reference/

# tinyxml files
tinyxml/
